<!doctype html>
<html>
<head>
	<title>Mock Response</title>
	<meta type="description" content="Mocking various HTTP errors">
	<style type="text/css">
		body {
			margin: 3em auto;
			padding: 0 1em;
			max-width: 30em;
			background: rgb(245,245,245);
			font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
			font-weight: 300;
			line-height: 1.4;
			color: rgb(44,44,44);
		}

		code {
			padding: 7px 10px;
			background: rgb(255,255,255);
			display: block;
			font-size: 1.2em;
		}

		table {
			width: 100%;
		}

			table th {
				padding: 7px 10px;
				text-align: left;
				background: rgb(212,63,63);
				color: rgb(255,255,255);
			}

			table td {
				padding: 7px 10px;
			}

			table tr {
				background: rgb(255,255,255);
			}

			table tr:nth-child(2n+2) {
				background: rgb(221,229,254);
			}

		footer {
			border-top: 1px solid rgb(220,220,220);
			font-size: 0.875em;
			margin: 3em 0;
			padding-top: 2em;
		}
	</style>
</head>
<body>
	<h1>Mock Response</h1>
	<p>Sometimes in the course of development you may need to mock http errors. This is a simple service to return various HTTP errors.</p>
	<p>To call each error, simply append the response that you would like returned to the end of this sites URL, like so:</p>
	<code>http://mock.isssues.com/{RESPONSE}</code>
	<p>These responses are supported and can be called via <strong>GET</strong> or <strong>POST</strong>.</p>
	<table cellspacing="0">
		<thead>
			<tr>
				<th>Status</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<% @codes.each_pair do |code, description| %>
				<tr>
					<td><strong><%= code %></strong></td>
					<td><%= description %></td>
				</tr>
			<% end %>
			<tr>
				<td><strong>timeout</strong></td>
				<td>Waits 30 seconds before returning successfully.</td>
			</tr>
			<tr>
				<td><strong>hesitate</strong></td>
				<td>Waits 5 seconds before returning successfully.</td>
			</tr>
		</tbody>
	</table>
	<p>If something is missing, drop us a line at hello@isssues.com.</p>
	<footer>
		&copy; 2012 Built by <a href="http://uncluttah.com">Uncluttah</a> in Boston.
	</footer>
	<script type="text/javascript">
	  var _gauges = _gauges || [];
	  (function() {
	    var t   = document.createElement('script');
	    t.type  = 'text/javascript';
	    t.async = true;
	    t.id    = 'gauges-tracker';
	    t.setAttribute('data-site-id', '502d9c58613f5d0d16000015');
	    t.src = '//secure.gaug.es/track.js';
	    var s = document.getElementsByTagName('script')[0];
	    s.parentNode.insertBefore(t, s);
	  })();
	</script>
</body>
</html>