<!doctype html>
<html>
<head>
	<title>Mock Response</title>
	<meta type="description" content="Mocking various HTTP errors">
	<style type="text/css">
		body {
			margin: 3em auto;
			padding: 0 1em;
			max-width: 30em;
			background: rgb(245,245,245);
			font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
			font-weight: 300;
			line-height: 1.4;
			color: rgb(44,44,44);
		}

		code {
			padding: 7px 10px;
			background: rgb(255,255,255);
			display: block;
			font-size: 1.2em;
		}

		table {
			width: 100%;
		}

			table th {
				padding: 7px 10px;
				text-align: left;
				background: rgb(212,63,63);
				color: rgb(255,255,255);
			}

			table td {
				padding: 7px 10px;
				vertical-align: top;
			}

			table tr {
				background: rgb(255,255,255);
			}

			table tr:nth-child(2n+2) {
				background: rgb(221,229,254);
			}

		.promo-form {
			border: none;
			margin: 1em 0;
			padding: 2em 0;
			border: 4px solid rgb(200,200,200);
			border-left: none;
			border-right: none;
		}

			.promo-form fieldset {
				margin: 0;
				padding: 0;
				border: none;
			}

			.promo-form legend {
				display: block;
				font-weight: bold;
				margin: 0;
				padding: 0;
			}

			.promo-form p {
				margin: 0 0 0.5em;
			}

			.promo-form input {
				display: inline-block;
				border: 1px solid rgba(0, 0, 0, 0.25);
				font-size: 1em;
				font-family: inherit;
				font-weight: 400;
				font-style: normal;
				padding: 0.5em;
				border-radius: 4px;
				margin: 0;
			}

			.promo-form .btn {
				display: inline-block;
				font-size: 1em;
				font-family: inherit;
				font-weight: 400;
				font-style: normal;
				padding: 0.5em 1em;
				border-radius: 4px;
				cursor: pointer;
				border: none;
				color: rgb(255,255,255);
				background: rgb(212,63,63);
			}

			.promo-form .btn:hover {
				background: rgb(192,43,43);
			}

		footer {
			font-size: 0.875em;
			margin: 0 0 3em;
			padding-top: 2em;
		}
	</style>
</head>
<body>
	<h1>Mock Response</h1>
	<p>Sometimes in the course of development you may need to mock HTTP responses. This is a simple service to return various HTTP responses.</p>
	<p>To call each error, simply append the response that you would like returned to the end of this sites URL, like so:</p>
	<code>http://mock.isssues.com/{RESPONSE}</code>
	<p>These responses are supported and can be called using these HTTP verbs: <strong>GET</strong>, <strong>POST</strong>, <strong>PUT</strong>, <strong>DELETE</strong>, <strong>OPTIONS</strong>, and <strong>PATCH</strong>.</p>
	<table cellspacing="0">
		<thead>
			<tr>
				<th>Status</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<% @codes.each_pair do |code, description| %>
				<tr>
					<td><strong><%= code %></strong></td>
					<td><%= description %></td>
				</tr>
			<% end %>
			<tr>
				<td><strong>timeout</strong></td>
				<td>Waits 30 seconds before returning successfully.</td>
			</tr>
			<tr>
				<td><strong>hesitate</strong></td>
				<td>Waits 5 seconds before returning successfully.</td>
			</tr>
		</tbody>
	</table>
	<p>If something is missing, drop me a line at hello@uncluttah.com.</p>
	<form action="http://uncluttah.us4.list-manage.com/subscribe/post?u=517745ffc3d20f8f98133845c&amp;id=47fe1a03b3" method="post" class="promo-form">
		<fieldset>
			<legend>Boost your developer-fu</legend>
			<p>Get simple tips on how to build a better web — delivered weekly.</p>
			<input type="email" value="" name="EMAIL" class="email" placeholder="email@address.com" size="30">
			<button class="btn btn-primary">Join Now</button>
		</fieldset>
	</form>
	<footer>
		&copy; 2012 Built by <a href="http://uncluttah.com">Uncluttah</a> in Boston.
	</footer>
	<script type="text/javascript">
	  var _gauges = _gauges || [];
	  (function() {
	    var t   = document.createElement('script');
	    t.type  = 'text/javascript';
	    t.async = true;
	    t.id    = 'gauges-tracker';
	    t.setAttribute('data-site-id', '51eb4c5af5a1f525fb00000b');
	    t.src = '//secure.gaug.es/track.js';
	    var s = document.getElementsByTagName('script')[0];
	    s.parentNode.insertBefore(t, s);
	  })();
	</script>
</body>
</html>